{% extends 'base.html.twig' %}

{% block title %}{{ 'main.index.title' | trans }} - {{ parent() }}{% endblock %}

{% block body %}
<h1>{{ 'main.index.welcome' | trans({'%name%': name}) }}</h1>
{% endblock %}
