.erp {
  background: #ccc;
  line-height: 1.5rem;
}

.navbar__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
  .navbar__link {
    display: block;
    padding: 1rem;
  }

.flash {
  border-bottom: 1px solid;
  margin: 0;
  padding: 1rem;
}
  .flash--error {
    background: #b88;
    color: #300;
  }
